<h1>{{"file size is: " + (filesize |filesize:'GB')}}</h1>

<h1>{{pipedMessage |slice:2:5}}</h1>
<h1>{{pipedMessage |slice:2}}</h1>
<h1>{{prc |percent}}</h1>
<h1>{{date}}</h1>
<h1>{{date | date:'short'}}</h1>
<h1>{{date | date:'long'}}</h1>
<h2>{{"normal case: "+ pipedMessage}}</h2>
<h2>{{"normal case: "+ pipedMessage}}</h2>
<h2>{{("lower case: "| titlecase)+(pipedMessage |lowercase)}}</h2>
<h2>{{"upper case: "+(pipedMessage |uppercase)}}</h2>
<h2>{{"title case: "+(pipedMessage |titlecase)}}</h2>
<div *ngFor="let item of lst;index as i;even as e;">
    <div [style.background-color]="e?'green':'red'">{{"index: " + i}} - {{item}}</div>
</div>
<div *ngFor="let item of lst;index as i;odd as o;">
    <div [ngStyle]="{'color':o?'red':'green'}">{{"index: " + i}} - {{item}}</div>
</div>
<input type="text" [(ngModel)]="_num">
<div [ngSwitch]="_num">
    <h1 *ngSwitchCase="'0'">Zero</h1>
    <h1 *ngSwitchCase="'1'">One</h1>
    <h1 *ngSwitchCase="'2'">Two</h1>
    <h1 *ngSwitchCase="'3'">Three</h1>
    <h1 *ngSwitchDefault>None</h1>
</div>
<div *ngIf="1">this ngIf is true</div>
<div *ngIf="0">this ngIf is false</div>
<input type="text" [(ngModel)]="mss">
<h1>{{mss}}</h1>
<input type="text" #txtVal>
<button type="button" (click)="changeVal(txtVal.value)">capatalize</button>
<h1>{{valMessage}}</h1>

<button id="btn1" (click)="GetMessage()">get message</button>
<p style="background-color: red;"> this backed red</p>
<p [style.background-color]="'red'">this backed red by binding color</p>
<p [style.background-color]="isSuc?'green':'red'">this backed red by binding logicaly</p>
<!-- <p class="txt-danger">this danger txt</p> -->
<p [class.txt-danger]="!isSuc">this danger txt</p>

<!-- <p class="txt-success">this success txt</p> -->
<p [class.txt-success]="isSuc">this success txt</p>

<p [ngClass]="_ngClass">this is ng class</p>

<input type="text" [id]="_id" [value]="_value">

<p>{{msg}}</p>
<p>{{5+6}}</p>
<p>{{"title: " + title}}</p>

<app-login></app-login>
<app-register></app-register>
<h1>App Component</h1>
<h3>{{title}}</h3>
<hr>
<app-test></app-test>
<router-outlet />
<hr>
<app-header></app-header>
<app-main-layout></app-main-layout>
<!-- {{_Msg()}} -->
<app-footer></app-footer>